.svg-icon-15 {
    width: 100px;
    height: 100px;
    fill: currentColor;
    overflow: hidden;
}
.el-table .warning-row {
    --el-table-tr-bg-color: var(--el-color-warning-light-9);
}
.el-table .success-row {
    --el-table-tr-bg-color: var(--el-color-success-light-9);
}